venv/

__pycache__/
*.pyc

.idea/
.vscode/
*.env
*.token

data

dict_regions.py

py-bot/sent_alarms.json
py-bot/bot.log
tt.py
help-desk-bot/eng.py
TelegramBotHighTemperatureAlarms\help-desk-bot\eng.py