# Не добавляем виртуальное окружение
venv/

# Не добавляем временные файлы Python
__pycache__/
*.pyc

# Не добавляем файлы настроек IDE
.idea/
.vscode/

# Не добавляем файлы токенов (если вдруг создашь)
*.env
*.token
