venv/

__pycache__/
*.pyc

.idea/
.vscode/
*.env
*.token

data
tests
py-bot/sent_alarms.json
py-bot/bot.log
help-desk-bot/tester.py
help-desk-bot/*.txt
help-desk-bot/*.json
help-desk-bot/batt.py
rssi_analyze/*.xlsx
